<div class="col">
    <%- include ('../partials/message') %>
</div>
<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
        <div class="center">
            <h3>WeFit!</h3>
        </div>
        <br><br><br>
        <main>
            <div class="card">
                <div class="card-body">
                    <form action="/prUpdate" method="POST">
                        <div class="form-group">
                            <label for="weightRecord">Weight Record</label>
                            <input type="text" class="form-control" id="weightRecord" name="weightRecord"
                                placeholder="LBS">
                        </div>
                        <div class="form-group">
                            <label for="runRecord">Run Record</label>
                            <input type="text" class="form-control" id="runRecord" name="runRecord" placeholder="MILES">
                        </div>
                        <div class="form-group" style="padding-top: 5px;">
                            <button type="submit" class="login_button">Enter</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <%- include ('../partials/footer') %>