<style>
    body {
        background-color: #d9d9d9;
        color: #808080;
    }
    .form-control {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #dbedd3;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.375rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    .form-control:focus {
        outline: none;
        box-shadow: none;
    }
    .card {
        background-color: #77bd28;
        align-items: center;
        margin: auto;
        height: 40%;
        width: 25%;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .card-body {
        padding: 70px 0;
        text-align: center;
    }
    .card-header {
       border-radius: 10px;
        margin: auto;
        width: 25%;
        text-align: center;
        background-color: #77bd28;
        padding: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    /* =====INPUT TEXT BOXES===== */
    input[type="text"] {
        background-color: #fff;
        border: 1px solid #dbedd3;
        color: #757575;
    }
    input[type="text"]:focus {
        background-color: #fff;
        border: 1px solid #dbedd3;
        color: #757575;
        outline: none;
        box-shadow: none;
    }
    input[type="password"] {
        background-color: #fff;
        border: 1px solid #dbedd3;
        color: #757575;
    }
    input[type="password"]:focus {
        background-color: #fff;
        border: 1px solid #dbedd3;
        color: #757575;
        outline: none;
        box-shadow: none;
    }
    /* =====INPUT TEXT BOXES===== */
    /* =====BUTTON===== */
    button {
        background-color: #4CAF50;
        /* Green */
        border: none;
        color: white;
        padding: 10px 20px;
        padding-top: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    .login_button {
        background-color: #eb7521;
        border-radius: 12px;
    }
    /* =====BUTTON===== */
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #77bd28;
        top: 0;
        padding: 10px;
        font-family: Arial, sans-serif;
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.10);
    }
    ul {
        padding: 0px;
        padding-top: 10px;
        list-style: none;
    }
    li {
        padding: 2px;
        display: inline-block;
    }
    li a:focus {
        outline: none;
        box-shadow: none;
    }
    li a:hover {
        box-shadow: none;
        color: #eb7521;
    }
    nav a {
        color: #dbedd3;
        font-size: 20px;
        letter-spacing: 1px;
        text-decoration: none;
    }
    form a {
        color: #808080;
        letter-spacing: 1px;
        text-decoration: none;
    }
    form p a:focus {
        outline: none;
        box-shadow: none;
    }
    form p a:hover {
        text-decoration: underline;
        box-shadow: none;
        color: #eb7521;
    }
    .center {
        line-height: 200px;
        height: 50px;
        text-align: center;
    }
    .center h2 {
        line-height: 1.5;
        display: inline-block;
        vertical-align: middle;
    }
</style>
<nav>
    <ul>
        <li>
            <a href="/programs">Programs</a>
        </li>
        <li>
            <a href="/calendar">Calender</a>
        </li>
    </ul>
    <ul>
        <li>
            <% if(typeof data != "undefined"){ %>
                <a href="/joinprograms" class="nav-link">Join Programs</a>
            <% } %>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
    </ul>
</nav>

<!-- <header>
    <nav class="navbar navbar-expand-sm border-bottom navbar">
        <div class="container-fluid">
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar-collapse" aria-controls="navbar" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="/programs" class="nav-link">Programs</a>
                    </li>
                    <li class="nav-item">
                        <a href="/calendar" class="nav-link">Calendar</a>
                    </li>
                </ul>
                <div class="navbar-nav">
                    <div class="nav-item">
                        <% if(typeof data != "undefined"){ %>
                            <a href="/joinprograms" class="nav-link">Join Programs</a>
                        <% } %>
                    </div>
                    <div class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header> -->
