<% if (locals.message) { %>
    <div style="margin:0"
            class="alert alert-<%- locals.error ? 'danger' : 'success' %> alert-dismissible fade show"
            role="alert">
        <%= message %>
    </div>
<% } %>